// App common widgets styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.form {
  min-width: 300px;
  margin-bottom: $gutter;
  padding: $gutter $gutter ($gutter / 2) $gutter;
  border-radius: $border-radius_large;

  &__group {
    position: relative;
    text-align: center;
    padding-bottom: $input_height - 5px;

    button + button {
      margin-top: $gutter / 2;
    }

    &--social {
      padding-bottom: $gutter / 2;
    }
  }

  &--vertical {
    input,
    button {
      width: 100%;
    }
  }

  &__message {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: $input_height * 1.1;
    @include text($font-family_sans, $font-size_xsmall, $font-weight_sans_regular);
    line-height: floor($line-height_xsmall * 0.66);

    &--error {
      color: $color_error;
    }

    &--success {
      color: $color_success;
    }
  }
}

.btn {
  &--fb {
    @include btn-color($color_white, $color_fb);
  }

  &--vk {
    @include btn-color($color_white, $color_vk);
  }
}

.switch {
  display: inline-block;
  background: $color_white;
  border: 1px solid $color_border;
  border-radius: $border-radius_small;
  white-space: nowrap;
  padding: ($gutter / 4) ($gutter / 2);

  > li {
    display: inline-block;
    @include text($font-family_sans, $font-size_normal, $font-weight_sans_bold);

    a {
      @include link-color($color_primary, darken($color_primary, $fade-percent));
    }

    &:not(:last-child) {
      &:after {
        text-align: center;
        margin-left: $gutter / 4;
        margin-right: $gutter / 4;
        content: " / ";
      }
    }
  }

  & + .switch {
    margin-left: $gutter;
  }
}
